
.header {
    background-color:#FCFCFC ;
}




.header-route {
    margin-right: 50px;
    color: #373F41;
    font-family: 'Mulish';

}

.header-routes {
    align-items: center;
    margin: auto;
    width: 50%;
    display: flex;
  }




.wonderLogo {
    color: #A94747;
    font-family: 'Mulish';
    margin-right: 100px;

}


.header-button {
    background-color:#FCFCFC ;
    border-style: none;
    margin-right: 15px;
}