:root {
  --brand-color1: #a94747;
  --brand-color2: #dbd4bf;
  --secondary-color1: #eae9e9;
  --secondary-color2: #f5f5f5;
  --secondary-color3: #142429;
  --highlight: #da3737;
  --main-Font: 'Lexend', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: var(--main-Font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  max-width: 1400px;
  min-width: 400px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-image {
  width: 250px;
  height: 190px
}

.blackborder {
  border: 1px solid var(--secondary-color3)
}

.main-section-title {
  border-bottom: 3px solid var(--highlight);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  margin: 0px auto 10px auto;
}

.center {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  margin: 0px auto;
}

.center-horizontal {
  text-align: center;
  align-items: center;
}

.margin10 {
  margin: 10px;
}


.darkTag {
  background: var(--secondary-color3);
  color: var(--secondary-color2);
  text-align: center;
  width: 250px;
  aspect-ratio: auto 250 / 25;
  height: 25px;
  margin: 0px 0px 10px 0px;
}

.button-style {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--brand-color1);
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border: 1px solid var(--brand-color1);
  background-color: var(--secondary-color2);
  cursor: pointer;
  transition: all 250ms;
}

.button-style:hover {
  color: var(--secondary-color2);
  background-color: var(--brand-color1);
}

.itemdetail {
  overflow: hidden;
  height: 60px;
}

.itemname {
  height: 58px;
  width:60%;
  overflow: hidden;
  font-weight: 700;
  margin:auto
}

.itemprice {
  font-weight: bold;
  font-size: 23px;
}

.itemstock {
  font-weight: bolder;
  color: var(--brand-color1);
}

.main {
  margin-top: 45px;
}

.paddingSmall {
  padding: 50px
}

.sortRadio {
  position: fixed;
  top: 58px;
  left: 0;
  font-size: 10px;
  background: white;
  width: 98vw;
  text-align: right;
  z-index:2;
}

.center-image {
  margin: 1px auto;
  max-width: 500px;
  max-height: 500px;
  justify-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-flow: column nowrap;
}

#BasicProductBox {
  flex-flow: column nowrap;
}

.MoreInfoProductBox {
  font-weight: bold;
  margin: 0px auto;
  transition: all 500ms;
  cursor: pointer;
}

.MoreInfoProductBoxSelected {
  color: var(--highlight);
  font-weight: bold;
  margin: 0px auto;
  transition: all 500ms;
  cursor: pointer;
}

#productInfoImage {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 500px;
  min-width: 350px ;
}

.InfoContainer {
  border-bottom: 1px solid var(--secondary-color3);
}

.categoryflex {
  display: flex;
  flex-flow: column;
}

.pointer {
  cursor: pointer;
}

.cartIcon {
  background: var(--brand-color2);
  border: none;
  border-radius: 20px;
  width: 100px;
  font-family: var(--main-Font);
  font-weight:500;
  color: var(--secondary-color3);
  display: inline-flex;
  cursor: pointer;
  transition: all 250ms;
}

.cartIcon:hover {
  filter: drop-shadow(0 0 0.25rem var(--brand-color1));
}

#footer {
  background: var(--secondary-color3);
  height: 100%;
}

#footerLinkContainer{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding-top: 20px;
}

.footer-route {
  color: antiquewhite;
  text-decoration: none;
  margin-top: 20px;
}

#FooterDetailContainer {
  padding-top: 30px;
  padding-left: 10px;
}

.footer-detail {
  color: whitesmoke;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-detail-title {
  color: whitesmoke;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 15px;
}

#map {
  padding:10px
}

#ReviewContainer {
  margin: 50px auto;
}

#InnerReviewContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.review {
  background-color: var(--secondary-color2);
  padding: 10px 20px;
  margin:5px;
  border-radius: 15px;
  flex: 1 1 0px;
  position: relative;
}

.reviewUserTag {
  font-weight: bold;
  bottom: 0px;
  margin: 10px auto
}

.userReview {
  max-height: 60px;
  max-width: 300px;
  overflow: hidden;
}

#AppContainer {
  padding:2rem;
}

#quantitySelector{
  width: 100px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
}

#modalInput {
  width: 70%;
  height: 37px;
  margin-right:5px
}

.font-main-color {
  color: var(--brand-color1)
}

.font-highlight-color {
  color: var(--highlight)
}

#image39 {
  width: 100%;
  height:300px;
  margin-top: 335px;
}

.bannerText {
  height: 100%;
  justify-content: center;
  justify-items: center;
}

.bannerImage{
  height: auto;
  width:auto
}

.justify{
  justify-content: center;
  justify-items: center;
}

.box-shadow {
  box-shadow: 0 2px 6px var(--brand-color2);
}

#bannerIcons {
  margin: 20px auto 100px auto
}